h2 Chats
if chats && chats.length > 0
    ul
        each chat in chats
            li
                a(href="/chats/" + chat.chatId) #{chat.chatName}
                if user && user.isValidUser
                    span  -
                    a(href="/chats/join/" + chat.chatId) [Join]

                    if user.userLevel === 3 || (user.userLevel === 2 && chat.chatOwner === user.userId)
                        a(href="/chats/edit/" + chat.chatId) [Edit]
                        a(href="/chats/delete/" + chat.chatId) [Delete]
else
    p No chats available.
